@import "variable";
@import "animation";

.vue-drawer {
  // default style
  padding: 20px;
  color: $drawerTextColor;
  background: $drawerBackgroundColor;
  // common
  position: fixed;
  overflow: auto;

  &.closable {
    padding-top: 40px;
  }
  &.left {
    left: 0;
    top: 0;
    bottom: 0;
  }

  &.right {
    right: 0;
    top: 0;
    bottom: 0;
  }
  &.up {
    top: 0;
    left: 0;
    right: 0;
  }

  &.down {
    bottom: 0;
    left: 0;
    right: 0;
  }

  .close-btn {
    width: $drawerCloseButtonWidth;
    height: $drawerCloseButtonWidth;
    position: absolute;
    right: 0;
    top: 20px;
    transform: translate(-50%, -50%);
    color: currentColor;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    .leftright {
      height: 4px;
      width: $drawerCloseButtonWidth;
      position: absolute;
      margin-top: $drawerCloseButtonWidth/2;
      background-color: $drawerCloseButtonColor;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: all 0.3s ease-in;
    }

    .rightleft {
      height: 4px;
      width: $drawerCloseButtonWidth;
      position: absolute;
      margin-top: $drawerCloseButtonWidth/2;
      background-color: $drawerCloseButtonColor;
      border-radius: 2px;
      transform: rotate(-45deg);
      transition: all 0.3s ease-in;
    }
    .close {
      margin: 60px 0 0 5px;
      position: absolute;
    }

    &:hover .leftright {
      transform: rotate(-45deg);
      background-color: $drawerCloseButtonHoverColor;
    }
    &:hover .rightleft {
      transform: rotate(45deg);
      background-color: $drawerCloseButtonHoverColor;
    }
  }
}
.mask {
  position: fixed;
  background: grey;
  opacity: 0.5;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
}
