$drawerCloseButtonColor: #fe5800 !default;
$drawerCloseButtonHoverColor: #e54f00 !default;
$drawerCloseButtonWidth: 28px !default;
$drawerBackgroundColor: white !default;
$drawerTextColor: black !default;
